# Things to modify

- **Product Name** -> Delete spaces
- **Price** -> 40 nulls (2%), change ',' to '.' and change to float
- **Discount** -> 40 nulls (2%), change ',' to '.' and change to float
- **Total Value** -> Change ',' to '.' and change to float
- **Payment Method** -> 1753 nulls (87.65%), delete spaces
- **Shipping Method** -> 1753 nulls (87.65%), delete spaces
- **Costumer Age** -> 40 nulls (2%)
- **Device** -> Change to minus
- **Cupon Used** -> 1753 nulls (87.65%)
- **Browser** -> Change categories, bad spelling
- **Referral Source** -> Change to minus

In [98]:
import pandas as pd
pd.set_option('display.max_columns', None)  # to show all columns when displaying a dataframe

In [99]:
df_raw = pd.read_csv('../data/data_raw.csv')
df_raw.sample(5)

,User Id,Group,Visit Date,Conversion,Product Category,Product Id,Product Name,Quantity,Price,Discount,Total Value,Payment Method,Shipping Method,Region,Customer Age,Customer Gender,Device,Session Duration,Coupon Used,Browser,Referral Source
568,569,B,2022-03-06,0,ELECTRONICS,P1670,Smartphone,0,"472,53","0,25","0,0",NaN,NaN,West,63.0,F,Desktop,15,NaN,Chrooome,Email
181,182,A,2022-01-28,0,ELECTRONICS,P1814,Smartphone,0,"451,51","0,29","0,0",NaN,NaN,Central,50.0,M,TABLET,24,NaN,Firefoxxxxxx,Organic
378,379,B,2022-02-20,1,TOYS,P1616,Board Game,1,"94,18","0,24","71,58",PayPal,Express,Central,NaN,M,Desktop,3,Yes,Safaaaaari,Organic
1047,1048,A,2022-03-31,0,BEAUTY,P1584,Mascara,0,"12,2","0,21","0,0",NaN,NaN,East,46.0,M,TABLET,30,NaN,Firefoxxxxxx,Email
690,691,A,2022-03-03,0,ELECTRONICS,P1653,Camera,0,"426,41","0,08","0,0",NaN,NaN,North,35.0,M,TABLET,15,NaN,Safaaaaari,Email

In [100]:
df = df_raw.copy()  # work on a copy of the raw data

### Changes in column names

In [101]:
df.columns = df.columns.str.replace(' ', '_').str.lower()

### visit_date to date_time

In [102]:
df['visit_date'] = pd.to_datetime(df['visit_date'], format='%Y-%m-%d')

### conversion to string

In [103]:
df['conversion'] = df['conversion'].apply(lambda x: 'yes' if x==1 else 'no')

### product_category to minus

In [104]:
df['product_category'] = df['product_category'].str.lower()
df['product_category'] = df['product_category'].str.replace('fashhionn', 'fashion')   # fix typo

### product_id to integer

In [105]:
df['product_id'] = df['product_id'].str.replace('P', '').astype('int64')

### no spaces in product_name

In [106]:
df['product_name'] = df['product_name'].str.replace(' ', '_')

### price to float

In [107]:
df['price'] = df['price'].str.replace(',', '.').astype('float64')

In [108]:
df.info()  # check data types and non-null counts

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           2000 non-null   int64
 1   group             2000 non-null   object
 2   visit_date        2000 non-null   datetime64[ns]
 3   conversion        2000 non-null   object
 4   product_category  2000 non-null   object
 5   product_id        2000 non-null   int64
 6   product_name      2000 non-null   object
 7   quantity          2000 non-null   int64
 8   price             1960 non-null   float64
 9   discount          1960 non-null   object
 10  total_value       2000 non-null   object
 11  payment_method    247 non-null    object
 12  shipping_method   247 non-null    object
 13  region            2000 non-null   object
 14  customer_age      1960 non-null   float64
 15  customer_gender   2000 non-null   object
 16  device            2000 non-null   object
 17  session_duration  2000 non-null   int64
 18  coupon_used       247 non-null    object
 19  browser           2000 non-null   object
 20  referral_source   2000 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(4), object(14)
memory usage: 328.3+ KB